body {
    font-family: sans-serif;
}

div.sound {
    float: left;
    width: 500px;
    margin: 1em;
}

/* start of code stolen from ppsan */
button {
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 50px;
    background-color: red;
    border: none;
    box-shadow: 0 15px brown;
    font-size: 3em;
    margin-right: 0.5em;
}

button:active, button.active {
    padding: 10px;
    box-shadow: 0 5px brown;
    transform: translateY(4px);
}
/* end of code stolen from ppsan */
